@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .h-38 {
    height: 9.5rem;
  } 
}

@layer components {
  .arkHeaderContainer {
    @apply 
    grid
    grid-rows-2
    grid-cols-9
    justify-between 
    items-center
    px-8
  }

  .arkHeaderTitle {
    @apply
    col-span-full
    row-span-1
    row-start-1
    text-center
    text-lg
  }

  .arkHeaderCollectionsDropdown {
    @apply
    relative
    col-span-1
    col-start-1
  }

  .arkHeaderCollectionsDropdown:hover {
    @apply
    cursor-pointer
    rounded-t-2xl
    rounded-b-none
    bg-slate-700
    text-white
  }

  .arkHeaderCollectionsDropdownTitle {
    @apply
    text-center
    w-full
    flex
    justify-around
    items-center
  }

  .arkHeaderCollectionsDropdownList {
    @apply
    hidden
    absolute
    w-full
    h-38
    opacity-90
    bg-slate-400
    text-black
    border-slate-700
    border-solid
    border-2
    rounded-b-2xl
    transition-[height]
    overflow-y-hidden
    
  }

  .arkHeaderCollectionsDropdown:hover .arkHeaderCollectionsDropdownList {
    @apply
    block
    animate-slidedown
  }

  .arkHeaderCollectionsDropdownItem {
    @apply
    text-center
    text-white
  }

  .arkHeaderCollectionsDropdownBtn {
    @apply
    hover:text-red-400
  }

  .arkHeaderFilter {
    @apply
    col-span-1
    col-start-5
    text-center
  }

  .arkHeaderBtn {
    @apply
    col-span-1
    col-start-9
    flex
    justify-center
    text-black

    hover:text-red-500
    hover:bg-slate-700
  }
}