@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ark-item-table-item-layout {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(3, minmax(0, 1fr));
  }
}

@layer components {
  .arkItemTableItemContainer {
    @apply h-28 p-1 ark-item-table-item-layout text-center
  }

  .arkItemTableItemContainer > .arkItemName,
  .arkItemTableItemContainer > .arkItemLevel {
    @apply col-span-3
  }

  .arkItemTableItemContainer > .arkItemOwnerName, 
  .arkItemTableItemContainer > .arkItemOwnerWorld {
    @apply col-span-3 row-start-2
  }

  .arkItemTableItemContainer > .arkItemItemType, 
  .arkItemTableItemContainer > .arkItemDurability, 
  .arkItemTableItemContainer > .arkItemDamage {
    @apply col-span-2
  }
}