@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

@media (prefers-color-scheme: light) {}

@layer base {
  .before-content {
    content: '' !important;
  }

  .after-content {
    content: '' !important;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
         
  .grid-rows-10 {
    grid-template-rows: repeat(10, minmax(0, 1fr));
  }

  .row-span-9 {
    grid-row: span 9 / span 9;
  }
}


@layer components {
  .circuit-bg {
    @apply w-screen h-screen absolute top-0 left-0
  }

  .circuit-bg::before {
    @apply content-[''] block absolute left-0 top-0 w-screen h-screen opacity-50 bg-cover bg-center bg-[url('../public/circuit-board.png')]
  }

  .container {
    @apply max-w-full h-screen grid grid-cols-1 grid-rows-10 opacity-100 absolute top-0 left-0
  }

  .nav {
    @apply col-span-full row-span-1 flex justify-between items-center
  }

  .nav>ul {
    @apply flex justify-around w-1/3
  }

  .nav .dropdown {
    @apply 
    relative 
    hover:cursor-pointer
    z-0
  }

  .nav .dropdown .dropdown-content {
    @apply 
    hidden 
    absolute 
    -left-3/4
    w-28
    px-4
    py-2
    text-white 
    text-center
    z-10

    before:before-content
    before:block
    before:absolute
    before:-top-[1px]
    before:-left-[1px]
    before:-z-10
    before:w-full
    before:h-full
    before:bg-gray-800
    before:border-black
    before:border-solid
    before:border-2
    before:rounded-3xl
    before:opacity-60
  }

  .nav .dropdown:hover .dropdown-content {
    @apply 
    block
  }

  .nav>ul:last-child {
    @apply w-1/5
  }

  .content {
    @apply col-span-full row-span-9 overflow-hidden
  }

  .main-page {
    @apply 
    w-full 
    h-full 
    p-2
    grid
    grid-cols-2
    grid-rows-1
    justify-items-center
    items-center
  }

  .main-page img {
    @apply 
    rounded-[5rem]
    border-2
    border-solid
    border-white
    shadow-[2px_2px_2px_0_rgb(255,255,255),_4px_4px_2px_0_rgb(200,200,200),6px_6px_2px_0_rgb(150,150,150),8px_8px_2px_0_rgb(100,100,100),10px_10px_2px_0_rgb(50,50,50),12px_12px_2px_0_rgb(0,0,0)]

    duration-100
    transform

    hover:translate-x-[2px]
    hover:translate-y-[2px]
    hover:shadow-[2px_2px_2px_0_rgb(200,200,200),4px_4px_2px_0_rgb(150,150,150),6px_6px_2px_0_rgb(100,100,100),8px_8px_2px_0_rgb(50,50,50),10px_10px_2px_0_rgb(0,0,0)]
  }

  .main-page .title {
    @apply text-3xl font-bold underline inline-block
  }

  .projects-page {
    @apply w-full h-full overflow-auto p-12
  }

  .project-type-list {
    @apply my-4 relative
  }

  .project-type-list-item {
    @apply p-4 relative z-10
  }

  .project-type-list-item::before {
    @apply content-[''] block absolute left-0 top-0 w-full h-full bg-gradient-to-l from-gray-900 via-gray-500 to-gray-900 opacity-70 -z-10 rounded-3xl
  }

  .project-list {
    @apply grid grid-cols-4 mt-6 gap-12 p-4
  }

  .project-list-item {
    @apply relative p-2 text-center z-0
  }

  .project-list-item::before {
    @apply content-[''] absolute top-0 left-0 w-full h-full rounded-3xl bg-gradient-to-br from-red-300 via-green-300 to-blue-300 opacity-80 -z-10
  }

  .defaultFormInput {
    @apply grid grid-cols-3 grid-rows-1 justify-items-center justify-around
  }

  .defaultFormInput>label {
    @apply col-span-1 col-start-1
  }

  .defaultFormInput>input {
    @apply bg-white w-2/3 m-1 text-black col-span-2 col-start-2 rounded-full text-center
  }

  .defaultFormInputWithError {
    @apply grid grid-cols-3 grid-rows-2 justify-items-center justify-around
  }

  .miniDefaultFormInput {
    @apply grid grid-cols-2 justify-items-center justify-around
  }

  .miniDefaultFormInput>label {
    @apply col-span-1 col-start-1 flex justify-center items-center
  }

  .miniDefaultFormInput>label>span {
    @apply w-full h-full justify-center items-center
  }

  .miniDefaultFormInput>input {
    @apply bg-white w-full m-1 text-black col-span-1 col-start-2 text-center rounded-full appearance-none
  }

  .formInputErrorMessageDefault {
    @apply text-red-500 text-center row-start-2 col-span-full
  }

  .halfSizeDefaultFormInput {
    @apply w-[49%] grid grid-cols-3 justify-items-center
  }

  .halfSizeDefaultFormInput>label {
    @apply col-span-2 flex items-center
  }

  .halfSizeDefaultFormInput>input {
    @apply col-span-1 rounded-full w-6
  }
}